* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #2c2c2c;
}

@font-face {
  font-family: 'Fira Code Light';
  src: url('../assets/fonts/eot/FiraCode-Light.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/eot/FiraCode-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/woff2/FiraCode-Light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/woff/FiraCode-Light.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'Fira Code Regular';
  src: url('../assets/fonts/eot/FiraCode-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/eot/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/woff/FiraCode-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'Fira Code Medium';
  src: url('../assets/fonts/eot/FiraCode-Medium.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/eot/FiraCode-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/woff2/FiraCode-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/woff/FiraCode-Medium.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'Fira Code Bold';
  src: url('../assets/fonts/eot/FiraCode-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/eot/FiraCode-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/woff/FiraCode-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'Icons';
  src: url('../assets/fonts/icon/laura-icons.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/icon/laura-icons.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/icon/laura-icons.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/icon/laura-icons.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}
